*.6
haunts_app
haunts.app
shaunts.app
.DS_Store
_test
*.sublime-project
*.sublime-workspace
GEN*
openme
*.log
data/store
*.fsb
haunts.exe
haunts
lib/linux/libglop.so
devhaunts
__debug_bin*
*.rej.*
test-report.tar.gz
dev.go.sum
perftest
perf.data
perf.data.old
