*.6
haunts_app
haunts.app
shaunts.app
.DS_Store
_test
*.sublime-project
*.sublime-workspace
GEN*
openme
*.gob
*.log
data/store
*.fsb
haunts.exe
haunts
data-runtime/
lib/linux/libglop.so
devhaunts
__debug_bin*
testdata/*/*.rej.*
